{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="{% static 'img/breadcrumb-bg.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb-text">
                    <h2>Gallery</h2>
                    <div class="bt-option">
                        <a href="./index.html">Home</a>
                        <a href="#">Pages</a>
                        <span>Gallery</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Gallery Section Begin -->
<div class="gallery-section gallery-page">
    <div class="gallery">
        <div class="grid-sizer"></div>
        <div class="gs-item grid-wide set-bg" data-setbg="{% static 'img/gallery/Town-gym1.jpg' %}">
            <a href="{% static 'img/gallery/Town-gym1.jpg' %}" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
        </div>
        <div class="gs-item set-bg" data-setbg="{% static 'img/gallery/Town-gym2.jpg' %}">
            <a href="{% static 'img/gallery/Town-gym2.jpg' %}" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
        </div>
        <div class="gs-item set-bg" data-setbg="{% static 'img/gallery/Town-gym3.jpg' %}">
            <a href="{% static 'img/gallery/Town-gym3.jpg' %}" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
        </div>
        <div class="gs-item set-bg" data-setbg="{% static 'img/gallery/Town-gym4.jpg' %}">
            <a href="{% static 'img/gallery/Town-gym4.jpg' %}" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
        </div>
        <div class="gs-item set-bg" data-setbg="{% static 'img/gallery/Town-gym5.jpg' %}">
            <a href="{% static 'img/gallery/Town-gym5.jpg' %}" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
        </div>
        <div class="gs-item grid-wide set-bg" data-setbg="{% static 'img/gallery/Town-gym6.jpg' %}">
            <a href="{% static 'img/gallery/Town-gym6.jpg' %}" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
        </div>
        <div class="gs-item grid-wide set-bg" data-setbg="{% static 'img/gallery/Town-gym7.jpg' %}">
            <a href="{% static 'img/gallery/Town-gym7.jpg' %}" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
        </div>
        <div class="gs-item set-bg" data-setbg="{% static 'img/gallery/Town-gym8.jpg' %}">
            <a href="{% static 'img/gallery/Town-gym8.jpg' %}" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
        </div>
        <div class="gs-item set-bg" data-setbg="{% static 'img/gallery/Town-gym9.jpg' %}">
            <a href="{% static 'img/gallery/Town-gym9.jpg' %}" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
        </div>
    </div>
</div>
<!-- Gallery Section End -->

    

{% endblock content %}